
.product-table {
    border-radius: 10px;
    background-color: white;
    width: 100%;
    /* border-collapse: collapse; */
    /* margin-top: 20px;a */
  }
  
  .product-table thead th {
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid lightgrey;
  }
  
  .product-table tbody td {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
  }
  
  .product-table tbody tr td:nth-child(2) {
    display: flex;
    align-items: center;
  }
  
  .product-table tbody tr td:nth-child(2) img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .product-table tbody tr td:nth-child(2) .product-info {
    display: flex;
    align-items: center;
  }
  
  .product-table tbody tr td:nth-child(2) .product-info div {
    display: flex;
    flex-direction: column;
  }
  
  .product-table .action-icon {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .product-table th,
  .product-table td {
    border-right: none;
  }
  
